* {
    font-family: 'Noto Sans KR', sasn-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: #000;
}

.intro_bg {
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.gaming.net%2Fko%2F%25EB%25A6%25AC%25EA%25B7%25B8-%25EC%2598%25A4%25EB%25B8%258C-%25EB%25A0%2588%25EC%25A0%2584%25EB%2593%259C-%25EC%2599%2580%25EC%259D%25BC%25EB%2593%259C-%25EB%25A6%25AC%25ED%2594%2584%25ED%258A%25B8-%25EC%25B4%2588%25EB%25B3%25B4%25EC%259E%2590%25EB%25A5%25BC-%25EC%259C%2584%25ED%2595%259C-%25EC%25B5%259C%25EA%25B3%25A0%25EC%259D%2598-%25ED%258C%2581%2F&psig=AOvVaw1SvZbCx31Vz_XkxlhESF75&ust=1706856708671000&source=images&cd=vfe&opi=89978449&ved=0CBAQjRxqFwoTCIDT-fLGiYQDFQAAAAAdAAAAABAD");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

span {
    cursor: pointer;
}

.logo {
    width: auto;
    height: 100px;
}

.main_logo {
    display: flex;
}

/* 포지션 아이콘 시작 */
.op {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 94%;
    left: 79%;
    transform: translate(-79%, -94%);
}

.t {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10%;
    left: 22%;
    transform: translate(-22%, -10%);
}

.md {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sp {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 88%;
    left: 76%;
    transform: translate(-76%, -88%);
}

.q {
    background-color: rgba(1, 2, 1, 0.68);
    width: 50px;
    height: 50px;
    position: absolute;
    top: 94%;
    left: 79%;
    transform: translate(-79%, -94%);

}

.w {
    background-color: rgba(1, 2, 1, 0.68);
    width: 50px;
    height: 50px;
    position: absolute;
    top: 88%;
    left: 76%;
    transform: translate(-76%, -88%);

}


.e {
    background-color: rgba(1, 2, 1, 0.68);
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}


.r {
    background-color: rgba(1, 2, 1, 0.68);
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10%;
    left: 22%;
    transform: translate(-22%, -10%);
}


/* 포지션 아이콘 끝 */


.lol {
    width: 230px;
    height: 80px;
    position: absolute;
    top: 10%;
    left: 80%;
    transform: translate(-80%, -10%);
}

/* .lol-bg{
    background-color: rgba(255, 255, 255, 0.4);
    width: 230px;
    height: 80px;
    position: absolute;
    top: 10%;
    left: 80%;
    transform: translate(-80%, -10%);
} */

a:hover {
    color: red;
    text-decoration: underline;
}
